{%- comment -%}V4.5.375 - July 2022
This liquid snippet is used by Discount Ninja
Do not modify or remove this snippet, this snippet can be overwritten when the app is upgraded
{%- endcomment -%}

<script type="text/template" id="limoniapps-discountninja-badge-template">
	<div class="limoniapps-discountninja-badge [[DASH]] [[SIZE]] [[POSITION]]" dir="ltr" data-style="[[STYLE]]" data-token="[[TOKEN]]">
		<div class="limoniapps-discountninja-badge-inner">
			<div class="limoniapps-discountninja-badge-inner-border">[[TEXT]]</div>
		</div>
	</div>
</script>